<!DOCTYPE html>
<html>
<head>
    <title>Login with Discord</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta property="og:title" content="Vanity - Login" />
  <meta property="og:description" content="Administra tus vanity links de Discord de forma rápida y sencilla desde tu panel personal." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://lynobot.wordpress.com/wp-content/uploads/2025/12/icon.png" />
  <meta property="og:url" content="https://vanitys.vercel.app" />
</head>
<body>
    <h1>Login con Discord</h1>
    <a href="/auth/discord">Iniciar sesión</a>
</body>
</html>
